[alias]
    ls = log --graph --all --abbrev-commit --date=relative --format=format:'%C(auto)%h%C(reset) %C(green)%ar%C(reset) %C(auto)%s%C(reset) - %C(cyan)%an%C(reset)%C(auto)%d%C(reset)'
    lm = log --graph --all --abbrev-commit --format=format:'%C(auto)%h%C(reset) %C(green)%aD%C(reset)%C(auto)%d%C(reset)%n        %C(auto)%s%C(reset) - %C(cyan)%an%C(reset)'
    ll = log --graph --all --abbrev-commit --format=format:'%C(auto)%h%C(reset) %C(green)%aD%C(reset) %C(cyan)%an%C(reset)%C(auto)%d%C(reset)%n%C(auto)%B%C(reset)'
[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    pager = true
    showbranch = auto
    status = auto
    ui = auto
[color.decorate]
    branch = green ; bold green
    HEAD = blue ; cyan
    remoteBranch = red ; bold red
    stash = magenta ; bold magenta
    tag = yellow ; bold yellow
[core]
    commentchar = $
    editor = vim
    fscache = true
    symlinks = true
    whitespace = blank-at-eol,tab-in-indent
[diff]
    algorithm = histogram
    guitool = vim
    renames = copies
    tool = vim
[difftool]
    prompt = false
[difftool "vim"]
    cmd = vim -d -c "VimDiff" "$LOCAL" "$REMOTE"
[difftool "code"]
    cmd = code --wait --diff "$LOCAL" "$REMOTE"
[gc]
    auto = 1
[github]
    user = GrzegorzKozub
[merge]
    guitool = vim
    renormalize = true
    tool = vim
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "vim"]
    cmd = vim -d -c "VimMerge" "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
    trustExitCode = false
[mergetool "code"]
    cmd = code --wait "$MERGED"
    trustExitCode = true
[pack]
    packSizeLimit = 2g
[pull]
    rebase = true
[push]
    default = simple
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true
[user]
    email = grzegorz.kozub@gmail.com
    name = greg
