; systemctl --all --full -t device
; office monitor: dev-serial-by\x2did-usb\x2dLG_Electronics_Inc._USB_Controls_904NTTQFK521\x2dif01.device
; office webcam: dev-snd-by\x2did-usb\x2d046d_C922_Pro_Stream_Webcam_F63F22DF\x2d02.device

[Unit]
Description=4k
After=dev-snd-by\x2did-usb\x2d046d_C922_Pro_Stream_Webcam_F63F22DF\x2d02.device
BindsTo=dev-snd-by\x2did-usb\x2d046d_C922_Pro_Stream_Webcam_F63F22DF\x2d02.device
Requisite=dev-snd-by\x2did-usb\x2d046d_C922_Pro_Stream_Webcam_F63F22DF\x2d02.device

[Service]
Type=simple
ExecStart=%h/code/arch/4k.sh

[Install]
WantedBy=dev-snd-by\x2did-usb\x2d046d_C922_Pro_Stream_Webcam_F63F22DF\x2d02.device

