[Unit]
Description=nvidia
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/code/arch/colors.sh

[Install]
WantedBy=graphical-session.target
