[Unit]
Description=dnd
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/code/arch/dnd.sh

[Install]
WantedBy=graphical-session.target

