[Unit]
Description=fetch
After=graphical-session.target

[Service]
Type=simple
EnvironmentFile=%h/code/arch/fetch.env
PassEnvironment=GITHUB_PAT
ExecStart=%h/code/arch/fetch.py

[Install]
WantedBy=graphical-session.target

