[Unit]
Description=imwheel
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/imwheel -d

[Install]
WantedBy=graphical-session.target

