[Unit]
Description=redshift
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=redshift -l 52.26:21.01 -t 6500:4000

[Install]
WantedBy=graphical-session.target

