[Unit]
Description=redshift
After=graphical-session.target colors.service

[Service]
Type=simple
ExecStart=redshift

[Install]
WantedBy=graphical-session.target

