# Pixart Imaging, Inc. Model O 2 Wireless
# lsusb | grep 'Model O 2'
# grep -E '822a|822d' /sys/bus/usb/devices/*/idProduct

ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="093a", ATTRS{idProduct}=="822a", ATTR{power/wakeup}="disabled", ATTR{driver/3-4/power/wakeup}="disabled"
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="093a", ATTRS{idProduct}=="822d", ATTR{power/wakeup}="disabled", ATTR{driver/3-1/power/wakeup}="disabled"
