[Unit]
Description=dnd
After=gnome-session-manager.target
BindsTo=gnome-session-manager.target

[Service]
Type=simple
ExecStart=%h/code/arch/dnd.sh

[Install]
WantedBy=gnome-session-manager.target

